# İLERİ TOPLULAŞTIRMA İŞLEMLERİ 
## (Aggregate,filter,transform,apply)

In [7]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({"gruplar": ["A","B","C","A","B","C"],
                   "degisken1": [10,23,33,22,11,99],
                   "degisken2": [100,253,333,262,111,969]},
                   columns = ["gruplar", "degisken1", "degisken2"])
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

## aggregate

In [5]:
df.groupby("gruplar").mean()

         degisken1  degisken2
gruplar
A               16        181
B               17        182
C               66        651

In [8]:
df.groupby("gruplar").aggregate(["min", np.median, max])

        degisken1            degisken2
              min median max       min median  max
gruplar
A              10     16  22       100    181  262
B              11     17  23       111    182  253
C              33     66  99       333    651  969

In [10]:
df.groupby("gruplar").aggregate({"degisken1": "min", "degisken2": "max"})

         degisken1  degisken2
gruplar
A               10        262
B               11        253
C               33        969